<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add Student </title>
    <link href="../static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="center-block">
            <div class="jumbotron">
                <h1> Dodawanie nowego Ucznia/Studenta </h1>
            </div>
        </div>

        <form action="#" th:object="${student}" th:action="@{/addNewStudent}" method="post">
            <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                    <input th:type="text" th:field="${student.name}" placeholder="Enter Name Student"
                           class="form-control"
                           id="example-email-input" required pattern="[A-Za-z]{1,29}"
                           title="Username should only letters. e.g. John"/>
                    <!--documentation required pattern-->
                    <!--https://webdesign.tutsplus.com/tutorials/html5-form-validation-with-the-pattern-attribute&#45;&#45;cms-25145-->

                </div>
            </div>

            <div class="form-group row">
                <label for="category-text-input" class="col-2 col-form-label">Surname</label>
                <div class="col-10">
                    <input th:type="text" th:field="${student.surname}" placeholder="Enter Surname" class="form-control"
                           id="category-text-input"
                           required pattern="[A-Za-z]{1,29}"
                           title="Username should only letters. e.g. John"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="price-text-input" class="col-2 col-form-label">Age</label>
                <div class="col-10">
                    <input th:type="text" th:field="${student.age}" placeholder="Enter Age" class="form-control"
                           id="price-text-input"
                           required pattern="[1-99]{1,2}"
                           title="Username should only numbers. e.g. 23"/>
                </div>
            </div>


            <button th:type="submit" class="btn btn-success">Dodaj Studenta do listy</button>

            <a href="/studentList" class="btn btn-primary" role="button" aria-pressed="true">Lista Studentów</a>

        </form>

    </div>
    <div class="col-2"></div>
</div>


</body>
</html>