<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Prepare Print</title>
    <link href="../static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">

        <div class="row">
            <div class="col-10">
                <h1>Lista Studentów</h1>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr class="active">
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Comments</th>

            </tr>
            </thead>
            <tbody>
            <div th:each="student:${studentList}">
                <tr>
                    <th th:text="${student.id}" scope="col">Id</th>
                    <th th:text="${student.name}" scope="col">Name</th>
                    <th th:text="${student.surname}" scope="col">Surname</th>
                    <th th:text="${student.age}" scope="col">Age</th>
                    <th></th>
                </tr>
            </div>
            </tbody>
        </table>

        <!--<a class='north' href="javascript:window.print()" title="Drukuj">DRUKUJ</a>-->


        <button type="button" class="btn btn-warning"><a class='north' href="javascript:window.print()" title="Drukuj">DRUKUJ</a></button>

    </div>

    <div class="col-2"></div>
</div>

</body>
</html>