<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Search </title>
    <link href="../static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <h1>Zakres wyszukiwania :</h1>


        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> Pamiętaj, uzupełnij oba pola dla poprawnych wyników wyszukiwania!
        </div>

        <form action="#" th:action="@{/searchEngine}" method="post">
            <div class="form-group row">
                <div class="col-10">
                    Imię Studenta :</br>
                    <input type="text" th:field="${student.name}"/> </br>
                    Nazwisko Studenta : </br>
                    <input type="text" th:field="${student.surname}"/>
                </div>
            </div>
            <input type="submit" value="Szukaj..."/>
        </form>

        <br>
        <a href="/studentList" class="btn btn-primary" role="button" aria-pressed="true">Lista Studentów</a>

    </div>
    <div class="col-2"></div>
</div>


</body>
</html>